@model IEnumerable<CarTallerCDL.T01Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.F01IdItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F01DescripionItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F01TipoItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F01Notas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.F01IdItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F01DescripionItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F01TipoItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F01Notas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.F01RowidItem">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.F01RowidItem">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.F01RowidItem">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
