@model CarTallerCDL.T02Tercero

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>T02Tercero</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02IdDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02IdDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02Nit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02Nit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02RazonSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02RazonSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02Nombre1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02Nombre1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02Nombre2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02Nombre2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02Apellido1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02Apellido1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02Apellido2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02Apellido2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02TipoDocto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02TipoDocto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02IndCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02IndCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02IndEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02IndEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02Telfeono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02Telfeono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02VlrPresupuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02VlrPresupuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F02Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F02Notas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.F02RowidTercero">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
