@model IEnumerable<CarTallerCDL.T06Descuento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.F06Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F06VlrMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F06VlrMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F06RowidItemNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F06RowidTerceroClienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.F06Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F06VlrMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F06VlrMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F06RowidItemNavigation.F01DescripionItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F06RowidTerceroClienteNavigation.F02Apellido1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.F06RowidDescto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.F06RowidDescto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.F06RowidDescto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
