@model CarTallerCDL.T041MovtoFactura

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>T041MovtoFactura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F041IdItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F041IdItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F041DescripionItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F041DescripionItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F041TipoItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F041TipoItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F041VlrBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F041VlrBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F041VlrDesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F041VlrDesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F041VlrImpto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F041VlrImpto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F041VlrNeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F041VlrNeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F041Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F041Notas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F041CantItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F041CantItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F041RowidDsctoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F041RowidDsctoNavigation.F06RowidDescto)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F041RowidFacturaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F041RowidFacturaNavigation.F04RazonSocialCliente)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F041RowidItemNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F041RowidItemNavigation.F01DescripionItem)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F041RowidMantoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F041RowidMantoNavigation.F05RowidManto)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="F041RowidMovto" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
